@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3f4;
  --dark-color: #333;
  --light-grey: rgba(128, 128, 128, 0.5);
  --max-width: 1100px;
}
.category {
  --sport-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #b8bcbe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
p {
  margin: 0.5rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
  font-family: "Staatliches", cursive;
}
.list li {
  padding: 0.5rem;
  border-bottom: 1px dotted #555;
  width: 90%;
}
.list li a:hover {
  color: var(--primary-color) !important;
}

/* Utility classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.category {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  font-size: 0.55rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.category-sports {
  background: var(--sport-color);
}
.category-ent {
  background: var(--ent-color);
}
.category-tech {
  background: var(--tech-color);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark--color);
  color: white;
  padding: 0.5rem 1.5rem;
}
.btn:hover {
  opacity: 0.8;
}

.btn-block {
  text-align: center;
  width: 100%;
  display: block;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}
.btn-light {
  background: var(--light-color);
}

.card {
  background: #fff;
  padding: 1rem;
}

.bg-dark {
  color: #fff;
  background: var(--dark-color);
}
.bg-primary {
  color: #fff;
  background: var(--primary-color);
}
.bg-secondary {
  color: #fff;
  background: var(--secondary-color);
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}
.l-heading {
  font-size: 3rem;
}
.m-heading {
  font-size: 2rem;
}
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child {
  grid-row: 1 / span 3;
}
/* Header design css */
#main-nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  align-items: center;
  padding: 1rem;
}
#main-nav .logo {
  width: 180px;
}
#main-nav ul {
  justify-self: end;
  display: flex;
}
#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}
#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}
#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark--color);
}
#main-nav .social {
  justify-self: center;
}
#main-nav .social i {
  margin-right: 5px;
  color: #777;
}

/* shocase area css */
#showcase {
  color: #fff;
  background: var(--dark-color);
  position: relative;
  padding: 2rem;
}
#showcase:before {
  content: "";
  background: url("../img/featured.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
  justify-content: center;
  align-items: center;
}
#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}
/* home article CSS */
#home-articles .article-container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
/* #home-articles .article-container > *:nth-child(7n + 1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: center;
}
#home-articles .article-container > *:nth-child(7n) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 2 / span 2;
  align-items: center;
} */

/* main-footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}
#main-footer img {
  width: 150px;
}
#main-footer a {
  color: #fff;
}
#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}
#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type="submit"] {
  width: 90%;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
}

.card .meta {
  display: flex;
  background: var(--light-color);
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: baseline;
}

/* Form design */
#form {
  background: var(--light-color);
}
#form .form-container {
  background: #fff;
  text-align: center;
  width: 50vw;
  border-radius: 15px;
  margin-top: 50px;
}
#form .form-container > div:first-child {
  background: var(--primary-color);
  color: #fff;
}
form > div:first-child {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.5rem;
}

form label {
  display: block;
  text-align: left;
}
form input,
form textarea {
  width: 100%;
  height: 2rem;
  border: 1px dotted #333;
  border-radius: 5px;
  padding: 0.25rem;
}

input[type="submit"] {
  background: var(--primary-color);
  margin: 1rem 0;
  height: 2.5rem;
}

/* empty card displpay while loading of news */

.empty-card {
  width: 320px;
  height: 400px;
  background: white;
}
.empty-image {
  background: var(--light-grey);
  height: 175px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.strip::after {
  content: "";
  width: 50px;
  position: absolute;
  top: -20%;
  left: -50%;
  background: rgba(206, 206, 206, 0.7);
  height: 240px;
  box-shadow: 0 10px 10px 10px var(--light-grey);
  filter: blur(10px);
  animation: anime--1 1s ease-in infinite;
  transform: rotate(30deg);
}

.sloved::after {
  box-shadow: 0 0 5px 5px var(--light-grey);
  width: 10px;
  filter: blur(4px);
  left: -50%;
  top: -60%;
}
.empty-title {
  background: var(--light-grey);
  height: 24px;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}
.empty-category {
  overflow: hidden;
  width: 100px;
  position: relative;
  height: 1.75rem;
  background: var(--light-grey);

  margin: 16px;
}
.empty-description {
  overflow: hidden;
  position: relative;
  height: 90px;
  width: 270px;
  background: var(--light-grey);
  margin: 16px;
}

@keyframes anime--1 {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
    transform: rotate(30deg);
  }
}
